<!doctype html>
<html lang="en" ng-app="TomatoApp">
<head>
  <meta charset="utf-8">
  <title>Tomato Keeper</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <div ng-controller="TomatoesController">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      Search: <input ng-model="query"><br>
      Sort By:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="-id">Newest</option>
        </select>

      <ul>
        <li ng-repeat="tomato in tomatoes | filter:query | orderBy: orderProp">
          <a href="#/tomatoes/{{tomato.id}}" ng-click="show(tomato.id)">{{tomato.name}}</a>
        </li>
      </ul>

<!--       </div>
      <div class="col-md-10"> -->
          <h1 ng-repeat="tomato in thisTomato">{{thisTomato.name}}</h1>  
    </div>
  </div>
</div>

  </div>

</body>
</html>