@import url(https://fonts.googleapis.com/css?family=Lora);

body { 
  min-width: 1000px;
}

p {
  font-family: 'Lora', serif;
}

a,
a:active,
a:visited {
  color: #500000  !important;
  font-family: 'Lora', serif;
}

h1 {
  font-family: 'Lora', serif;
}

img{
  max-width: 500px;
}

ul {
  list-style: none;
  list-style-position:outside;
  margin:0;
  padding:0; 
}

.show{
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
  padding: 10px;
}

.fixed {
  position: absolute;
}

.col1 {
  float:left;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
/*  -webkit-column-width: 15px;  Chrome, Safari, Opera 
  column-width: 15px;*/
  max-width: 275px;
  padding-right: 70px;
  border-right: 1px solid #ccc;
}

.col2 {
  float:left;
  padding-left: 70px;
  display:inline;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  column-count: 1;
  -webkit-column-width: 300px; /* Chrome, Safari, Opera */
  column-width: 300px;
}

.user-select {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#header {
  vertical-align: center;
  max-width: 600px;
}

#detail {
  margin: 0 auto;
  max-width: 500px;
}

