<!doctype html>
<html lang="en" ng-app="TomatoApp">
<head>
  <meta charset="utf-8">
  
  <img id="header" class="user-select" src="img/tm_head.png">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/tomatoes_controller.js"></script>
</head>
<body>

  <div ng-controller="TomatoesController">
    <div class="container">
      <div>
        <div class="col1">
          <p> Search: <input ng-model="query"></p>
          <p>Sort By:
            <select ng-model="orderProp">
              <option value="name">Alphabetical</option>
              <option value="-id">Recently Added</option>
            </select></p>
            <br>
          <ul style="list-style: none">
            <li ng-repeat="tomato in tomatoes | filter:query | orderBy: orderProp">
              <a href="#/tomatoes/{{tomato.id}}" ng-click="show(tomato.id)" ng-init="showOrigin=true">{{tomato.name}}</a>
            </li>
          </ul>
        </div>
        <div class="col2" id="detail">
            <h1 class="show">{{thisTomato.name}}</h1> 
            <ul style="list-style: none">
              <img class="user-select show" src={{thisTomato.img}}><br>           
              <p><strong>{{thisTomato.origin}}</strong></p>              
              <p>{{thisTomato.description}}</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>